
.admin-dashboard {
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

.stats-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.stat-card {
  background: beige;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.stat-card h2 {
  font-size: 40px;
  margin: 0;
}

.actions button {
  display: block;
  margin: 10px auto;
  padding: 12px 20px;
  width: 250px;
  border-radius: 8px;
  border: none;
  background: #4a76fa;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.actions button:hover {
  background: #305ce3;
}
