

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  padding: 5px;
  background: #f4f4f4;
  margin-bottom: 100px;

  /* Let it grow naturally */
  height: auto;
}
