.footer {
  
  color: #2c2b2b;
 
  font-family: Arial, sans-serif;


  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: beige;
  text-align: center;
  padding: 12px 0;
  border-top: 1px solid #ccc;
  z-index: 999;
}




.footer-text {
  font-size: 0.95rem;
  margin: 5px 0;
}

.footer-subtext {
  font-size: 0.85rem;
  color: #bbb;
}

.footer-subtext:hover {
  color: #fff;
}
